:root {
  --sans-serif-font:
    system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Noto Sans', 'Droid Sans', 'Helvetica Neue',
    'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'WenQuanYi Micro Hei',
    sans-serif;
  --serif-font:
    'Times New Roman', Times,
    Georgia, 'Songti SC',
    'SimSun', 'NSimSun',
    'STKaiti', 'KaiTi',
    'Noto Serif CJK SC', 'Source Han Serif SC',
    'Hiragino Mincho Pro', 'YuMincho',
    'Baskerville', 'Palatino Linotype',
    serif;
  --monospace-font:
    'Consolas', 'Lucida Console',
    'SF Mono', 'Menlo', 'Monaco',
    'DejaVu Sans Mono', 'Liberation Mono',
    'Noto Sans Mono CJK SC', 'Source Han Mono SC',
    'Droid Sans Mono', 'Roboto Mono',
    'Ubuntu Mono', 'Oxygen Mono',
    'Nimbus Mono L', 'Monaco',
    'Courier New', Courier,
    monospace;
}

body {
  font-size: 20px;
  font-family: var(--sans-serif-font);
  margin: 0 10px;
}

header {
  border-bottom: 1px solid lightgray;
}

nav {
  display: flex;
  height: 4rem;
  margin: 0;
}

@media (orientation: landscape) {
  nav {
    margin: 0 23%;
  }
}

.headline {
  display: flex;
}

.nav-title {
  width: 2.2rem;
  height: 4rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0;
  font-family: var(--serif-font);
}

nav ul li {
  display: inline-block;
  margin-left: 1rem;
}

main {
  margin: 0;
}

@media (orientation: landscape) {
  main {
    margin: 0 23%;
  }
}

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main ul li {
  border-bottom: 1px solid lightgray;
  margin-top: 1rem;
}

main ul li a {
  display: flex;
  padding: 0.2rem 0;
  line-height: 2rem;
}

.post-title {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.2rem;
  margin-right: auto;
}

.homepage-time {
  margin-left: auto;
  margin-right: 0.2rem;
  font-size: 1rem;
}

article {
  padding-bottom: 3rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

.multiline-code {
  padding: 1rem;
  border-radius: 0.3rem;
  overflow-x: auto;
  background-color: #f5f5f5;
}

.inline-code {
  padding: 0.2rem;
  border-radius: 0.3rem;
  background-color: #f5f5f5;
}

code {
  font-family: var(--monospace-font);
  font-size: 1.1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid lightgray;
  line-height: 3rem;
}

table, th, td {
  padding: 0 0.5rem;
  border: 1px solid lightgray;
}

.heading {
  text-align: center;
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--serif-font);
  font-weight: normal;
}

.post-info {
  font-family: var(--serif-font);
}
